.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 60, 255);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  height: 50px;
}

.player-name {
  color: black;
}

.player-score {
  color: red;
}

.country-name {
  color: blue;
}
